[2012-05-29 03:10] Pathoschild opened #1 "Add regex editor to TemplateScript"
Imported from [JIRA](https://jira.toolserver.org/browse/PATHOSCHILD-6):

[2012-05-29 03:10] #1 closed, assigned to Pathoschild

[2012-05-29 03:12] Pathoschild opened #2 "Use protocol-relative URLs"
Imported from [JIRA](https://jira.toolserver.org/browse/PATHOSCHILD-8) and requested by [Helder Wiki](https://jira.toolserver.org/secure/ViewProfile.jspa?name=helderwiki):

[2012-05-29 03:12] #2 closed, assigned to Pathoschild

[2012-05-29 03:36] Pathoschild opened #3 "TemplateScript should not discard the previous this.UndoText if the text was not changed"
Imported from [JIRA](https://jira.toolserver.org/browse/PATHOSCHILD-9) and requested by [Helder Wiki](https://jira.toolserver.org/secure/ViewProfile.jspa?name=helderwiki):

[2012-05-29 03:37] #3 closed, assigned to Pathoschild

[2012-05-29 03:40] Pathoschild opened #4 "Formatting of TemplateScript menus is inverted"
Imported from [JIRA](https://jira.toolserver.org/browse/PATHOSCHILD-10) and requested by [Helder Wiki](https://jira.toolserver.org/secure/ViewProfile.jspa?name=helderwiki):

[2012-05-29 03:43] #4 closed, assigned to Pathoschild

[2012-05-29 03:44] Pathoschild opened #5 "TemplateScript menus should "remember" if they were expanded or collapsed"
Imported from [JIRA](https://jira.toolserver.org/browse/PATHOSCHILD-11) and requested by [Helder Wiki](https://jira.toolserver.org/secure/ViewProfile.jspa?name=helderwiki):

[2012-05-29 14:02] he7d3r opened #6 "Before calling opts.script(this.Context); make sure it is indeed a function by using $.isFunction();"
The code [opts.script](https://github.com/Pathoschild/Wikimedia-contrib/blob/master/pathoschild.templatescript.js#L497) should only be used as a function if its value is indeed a function.

The [log message](https://github.com/Pathoschild/Wikimedia-contrib/blob/master/pathoschild.templatescript.js#L417) should also be added if the value of .script is not a function.

[2012-05-29 20:51] he7d3r opened #7 "Failed to load resource: the server responded with a status of 404 (Not Found)"
The script is [trying to load](https://github.com/Pathoschild/Wikimedia-contrib/blob/master/pathoschild.templatescript.js#L672) the CSS from
https://raw.github.com/Pathoschild/Wikimedia-contrib/master/pathoschild.templatescript.css
but the CSS is actually on
https://raw.github.com/Pathoschild/Wikimedia-contrib/master/templatescript.css

[2012-05-30 00:58] #7 closed, assigned to Pathoschild

[2012-05-30 00:59] #6 closed, assigned to Pathoschild

[2012-05-30 01:49] #5 closed, assigned to Pathoschild

[2012-06-12 20:35] Pathoschild opened #8 "Rewrite StewardScript & ajax sysop"
As requested [by Nemo](https://meta.wikimedia.org/wiki/User_talk:Pathoschild?oldid=3827418#Ajax_sysop) and [by Kangaroopower](https://meta.wikimedia.org/wiki/User_talk:Pathoschild?oldid=3827418#Merge_of_Ajax_Sysop_and_StewardScript), rewrite Ajax Sysop and StewardScript, merge them into an extensible script, and add them to the git repository. This was [partially done](https://meta.wikimedia.org/w

[2012-06-13 16:29] Pathoschild opened #9 "Migrate Mike.lifeguard's removeSpam.js to TemplateScript & create library"
As [requested by Billinghurst](https://meta.wikimedia.org/wiki/User_talk:Pathoschild?oldid=3829279#.5BPatting_the_To_Do_list.5D_convert_to_common.js-able), convert [Mike.lifeguard's removeSpam.js](https://meta.wikimedia.org/wiki/User:Mike.lifeguard/removeSpam.js) into a TemplateScript script.

Since TemplateScript handles arbitrary initialization anyway, use it to start a library of TemplateScript

[2012-08-05 05:53] Kangaroopower opened #10 "Force LTR"
Just a small detail but instead of $(function() { pathoschild.ForceLtr.Initialize(); }); you can do $(pathoschild.ForceLtr.Initialize);

[2012-08-06 16:20] #10 closed, assigned to Pathoschild

[2013-02-23 00:12] Pathoschild opened #14 "StewardScript: add CentralAuth link to checkuser results"
Extend `Special:CheckUser` so it links to `Special:CentralAuth` in user results (see [original request](https://steward.wikimedia.org/wiki/User_talk:Pathoschild)).

[2013-02-23 17:13] Pathoschild opened #15 "StewardScript: add crosswiki support"
Let StewardScript be used on any wiki, not only Meta. This will let stewards integrate tools crosswiki — such as linking `Special:CheckUser` on their home wiki to `Special:CentralAuth` on Meta. (See [original request](https://steward.wikimedia.org/wiki/User_talk:Pathoschild).)

[2013-02-23 18:16] #14 closed, assigned to Pathoschild

[2013-02-23 18:16] #15 closed, assigned to Pathoschild

[2014-08-12 10:34] Pathoschild opened #16 "Reimplement iso639db"
The [iso639db](https://tools.wmflabs.org/meta/iso639db) tool didn't survive the migration to Tool Labs, and should be reimplemented.
## To do
- [x] Script data extraction from:
  - [x] [ISO 639-2 dataset](http://www.loc.gov/standards/iso639-2/ascii_8bits.html);
  - [x] [ISO 639-3 dataset](http://www-01.sil.org/iso639-3/download.asp);
  - [x] [Ethnologue](http://www.ethnologue.com/) (number of spea

[2014-08-12 21:26] Pathoschild opened #17 "Merge `wikimedia-contrib` repositories"
There are two Git repositories:
- `wikimedia-contrib` contains user scripts;
- `wikimedia-contrib.toolserver` contains Tool Labs tools.

Merge them into one repository (particularly since the scripts are hosted on Tool Labs now).

[2014-08-12 22:46] #17 closed, assigned to Pathoschild

[2014-08-12 23:06] Pathoschild opened #18 "Account eligibility: add 2014 steward elections"
<a href="https://github.com/Pathoschild"><img src="https://avatars.githubusercontent.com/u/230581?v=2" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [Pathoschild](https://github.com/Pathoschild)**
_Friday Jan 03, 2014 at 05:09 GMT_
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/13_

---

As [requested by Snowolf](https://meta.wikime

[2014-08-12 23:08] #18 closed, assigned to Pathoschild

[2014-08-12 23:17] Pathoschild opened #19 "Migrate catanalysis tool"
**Issue by [Pathoschild](https://github.com/Pathoschild)**
_Tuesday Jun 12, 2012 at 20:01 GMT_
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/2_

---

Migrate the [catanalysis tool](https://toolserver.org/~pathoschild/catanalysis/?cat=0&title=wp/lez&wiki=incubatorwiki_p) to the new backend and add it to the git repository.

[2014-08-12 23:18] #19 closed, assigned to Pathoschild

[2014-08-12 23:20] Pathoschild opened #20 "catanalysis: exclude bots from analysis"
**Issue by [Pathoschild](https://github.com/Pathoschild)**
_Tuesday Jun 12, 2012 at 20:03 GMT_
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/3_

---

As [requested by Merlissimo](https://meta.wikimedia.org/wiki/User_talk:Pathoschild?oldid=3826660#bots_on_Catanalysis), exclude users with the bot flag from the analysis and gray them out in lists of contribu

[2014-08-12 23:20] Pathoschild opened #21 "Stalktoy: list relevant global groups for each wiki"
**Issue by [Pathoschild](https://github.com/Pathoschild)**
_Sunday Jul 01, 2012 at 17:27 GMT_
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/4_

---

As [suggested by Emaus (for SULUtil)](http://meta.wikimedia.org/wiki/User_talk:Quentinv57/Archive_02#Idea_for_SulUtil), for each wiki list the user's global groups that apply.

[2014-08-12 23:20] Pathoschild opened #22 "Account eligibility: add 2012 enwiki arbcom elections"
**Issue by [Pathoschild](https://github.com/Pathoschild)**
_Sunday Dec 02, 2012 at 20:37 GMT_
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/6_

---

As requested by [Jasper Deng](http://meta.wikimedia.org/wiki/User:Jasper_Deng), add the [2012 enwiki arbcom elections](http://en.wikipedia.org/wiki/Wikipedia:Arbitration_Committee_Elections_December_2012) to

[2014-08-12 23:20] Pathoschild opened #23 "Regex toy doesn't work"
**Issue by [he7d3r](https://github.com/he7d3r)**
_Monday Jul 22, 2013 at 15:02 GMT_
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/10_

---

When I access
http://toolserver.org/~pathoschild/regextoy/
I get the following in the console (Google Chrome):
- Resource interpreted as Script but transferred with MIME type text/plain: "https://raw.github.com/Pathos

[2014-08-12 23:21] Pathoschild opened #24 "Migrate to Wikimedia Tools Labs"
**Issue by [Pathoschild](https://github.com/Pathoschild)**
_Sunday Sep 01, 2013 at 19:29 GMT_
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/11_

---

The Wikimedia Toolserver is being phased out and will be shut down on 30 June 2014. Migrate all the tools to the new Wikimedia Tools Labs infrastructure before this date. To address before migration is compl

[2014-08-12 23:21] #20 closed, assigned to Pathoschild

[2014-08-12 23:22] #21 closed, assigned to Pathoschild

[2014-08-12 23:22] #22 closed, assigned to Pathoschild

[2014-08-12 23:23] #23 closed, assigned to Pathoschild

[2014-08-12 23:24] #24 closed, assigned to Pathoschild

[2014-08-12 23:25] Pathoschild opened #25 "See edits by a user, IP address, or CIDR range across all wikis"
**Issue by [Pathoschild](https://github.com/Pathoschild)**
_Tuesday Jun 12, 2012 at 18:19 GMT_
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/1_

---

As [proposed by Jasper Deng](https://meta.wikimedia.org/wiki/User_talk:Pathoschild#Extend_stalktoy_to_include_edits), create a new tool that scans all wikis for edits by a user, IP address, or CIDR range, as

[2014-08-12 23:25] Pathoschild opened #26 "[stalktoy] add 'active bureaucrats' column"
**Issue by [Pathoschild](https://github.com/Pathoschild)**
_Saturday Sep 01, 2012 at 20:16 GMT_
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/5_

---

As [requested on Meta](http://meta.wikimedia.org/wiki/User_talk:Pathoschild?oldid=4082814#Simple_list_of_wikis_per_user.2C_and_maybe_with_local_bureaucrat_.28y.2Fn.29), add an optional column to Stalktoy th

[2014-08-12 23:25] Pathoschild opened #27 "[global user search] add date range filter"
**Issue by [Pathoschild](https://github.com/Pathoschild)**
_Friday Dec 28, 2012 at 04:11 GMT_
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/7_

---

As [requested by billinghurst](http://meta.wikimedia.org/wiki/User_talk:Pathoschild?oldid=4912454#gusersearch_-_possible_to_limit_the_regression), add an optional date range filter to gusersearch.

[2014-08-12 23:25] Pathoschild opened #28 "Non-wikipedia sites"
**Issue by [Technical-13](https://github.com/Technical-13)**
_Monday Apr 29, 2013 at 17:06 GMT_
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/8_

---

It would be great if your tool had an input box where non-Wikipedia sites using MediaWiki software could be comma (or pipe or semi-colon or ...) separated and added to the results too.

[2014-08-12 23:25] Pathoschild opened #29 "[stalktoy] distinguish between closed and locked wikis"
**Issue by [waldyrious](https://github.com/waldyrious)**
_Thursday May 02, 2013 at 22:30 GMT_
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/9_

----

Would it be possible to distinguish between wikis that have been closed (i.e. are not online anymore) and wikis that have been merely locked (i.e. aren't editable)?. For example, [tokiponawiki](http://tokipo

[2014-08-12 23:25] Pathoschild opened #30 "Support Wikimedia OAuth"
**Issue by [Pathoschild](https://github.com/Pathoschild)**
_Monday Nov 25, 2013 at 14:34 GMT_
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/12_

---

Let users authenticate/authorize with [Wikimedia OAuth](https://blog.wikimedia.org/2013/11/22/oauth-on-wikimedia-wikis/) (once for all tools). This will enable some interesting features in the future:
- user

[2014-08-12 23:25] Pathoschild opened #31 "[stalktoy] improve accuracy of account creation estimation"
**Issue by [waldyrious](https://github.com/waldyrious)**
_Tuesday Jan 28, 2014 at 01:43 GMT_
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/17_

---

For the wikis where an account was created before 2005, a lower bound for an account creation can be obtained from the oldest edit and the oldest log entry ([Special:Contributions](https://en.wikipedia.org/w/

[2014-08-16 00:51] Pathoschild opened #32 "Add tools to Husky's directory"
Add the Tool Labs tool metadata to [Husky's new tool directory](https://lists.wikimedia.org/pipermail/labs-l/2014-August/002801.html) &hearts;.

[2014-08-19 00:44] #32 closed, assigned to nobody

[2014-09-01 20:09] Pathoschild opened #33 "TemplateScript: support fetching scripts from remote page"
Add support for fetching scripts from a remote page when configuring a TemplateScript template.
#### Example usage

This would run scripts from "Wikisource:TemplateScript/pagetools.js" on the current wiki before enabling the template. (To simplify usage, the `scriptUrl` property should support either a page name on the current wiki or an absolute URL.)

[code]
#### Rationale

As TemplateScript bec

[2014-09-01 23:24] Pathoschild opened #34 "New tool: list user pages on all wikis"
Create a tool to list your user pages on all wikis. With [global CSS and JavaScript](https://meta.wikimedia.org/wiki/GlobalCssJs) finally deployed, this would be useful for cleaning up old subpages (`common.js`, `vector.js`, etc).

[2014-09-01 23:42] #34 closed, assigned to Pathoschild

[2014-09-02 01:33] #33 closed, assigned to Pathoschild

[2014-09-02 01:35] #28 closed, assigned to nobody

[2014-09-04 14:58] Pathoschild opened #36 "Synchbot: rewrite to remove pywikibot"
Rewrite synchbot to replace [pywikibot](https://www.mediawiki.org/wiki/Manual:Pywikibot) with a lower-level API client framework like [mwclient](https://github.com/mwclient/mwclient).
### Rationale

Synchbot is built on a custom version of [pywikibot](https://www.mediawiki.org/wiki/Manual:Pywikibot), which has some inconvenient limitations for its purposes. Notably, pywikibot:
- refuses to edit or

[2014-09-05 04:32] #36 closed, assigned to Pathoschild

[2014-09-18 00:34] Pathoschild opened #37 "[stalktoy] show global rename history"
Stalktoy should account for global renames when searching and displaying users:

If the user searched a former name, it should redirect with an added message:

### Possible implementation

The `logging` table shows global renames. [This log entry](https://meta.wikimedia.org/wiki/Special:Log/gblrename?dir=prev&offset=20140917221004&limit=1) shows Jalexander-WMF renamed _Sbouterse (WMF)_ to _Siko (W

[2014-09-18 00:56] Pathoschild opened #38 "Stewardry doesn't support vi.wikivoyage"
**Issue by [Stryn](https://github.com/Stryn)**
_Originally opened as https://github.com/Pathoschild/Wikimedia-contrib.toolserver/issues/19_

---

Stewardry tool says "There is no wiki matching the selected database."

[2014-09-18 01:01] #38 closed, assigned to Pathoschild

[2014-11-08 22:57] PiRSquared17 opened #40 "Add JSON APIs"
It would be great if there were some way to query account eligibility in a machine-readable format. The output could be something like JSON, XML, or YAML. JSON would be my preference.

[This is a feature request/enhancement, not a bug.]

[2014-12-03 03:50] Krinkle opened #41 "[synchbot] Publish source code"
https://meta.wikimedia.org/wiki/Synchbot says it's part of Wikimedia-contrib and links here. Is it run from tool-labs by people with access to the 'meta' tool labs project? Or by you from your local computer? Either way, would be interesting to potentially have other users be able to run it as well (or even just inspect its source code; or to take over in case you disappear).

[2014-12-27 08:35] nemobis opened #43 "Stewardry doesn't count imported edits for last edit"
https://tools.wmflabs.org/meta/stewardry/mediawikiwiki?bureaucrat=1  thinks IAlex last edited on 2006-12-21, while it's actually been few days.

It might matter that the edit in question was actually imported (see https://www.mediawiki.org/w/index.php?title=Manual:Pywikibot/interwiki.py/fr&action=history ) and perhaps also that there were no edits on mediawiki.org until a year later. https://www.m

[2015-01-02 16:43] Pathoschild commented on #43
Fixed by #44.

[2015-01-02 16:43] #43 closed

[2015-02-21 04:35] Technical-13 opened #47 "[user pages] add talk namespace filter"
Would be very useful to have a no talk / only talk filter in the sub-pages tool

[2015-03-04 14:21] WikimediaDoug opened #48 "[stalktoy] Edit count is sorted alphabetically"
Attempting to sort the stalktoy table by number of edits, I get the following top 10 results:

wiki edits registered groups unified login block
frwikisource  97  2010-12-07 15:17  unified
commonswiki  934  2008-03-10 04:01 Image-reviewer, filemover unified
ruwikisource  9  2011-02-11 06:11  unified
jawiki  9  2008-11-21 02:51  unified
kowiki  8  2008-11-21 02:32  unified
eswiki  7  2011-08-26 19:4

[2015-03-04 14:23] WikimediaDoug opened #49 "Stalktoy: multilingual Wikisource is miscategorized in pie chart"
https://wikisource.org (mul.ws fka "oldwikisource" or "sourceswiki") is categorized as "special" rather than as a wikisource, in the stalktoy pie chart.

[2015-03-04 23:25] Pathoschild commented on #48
The sorting is correctly numerical for me in Chrome and IE11. Are you using a different browser?

[2015-03-04 23:32] Pathoschild commented on #49
Fixed and deployed! Thanks for reporting the issue.

[2015-03-04 23:32] #49 closed

[2015-03-28 13:40] he7d3r opened #50 "TemplateScript causes "Blocked loading mixed active content" error on Firefox"
I'm getting this in the console (the message is in Portuguese):
Bloqueado carregamento de conteúdo ativo mesclado
“http://tools-static.wmflabs.org/meta/scripts/pathoschild.templatescript.js?_=1427549606013

[2015-03-28 15:04] Pathoschild commented on #50
Hello @he7d3r. Thanks for reporting the issue; I fixed a redirect to HTTP when fetching an old tool path, so that error won't happen anymore.

Seeing that error does indicate you're calling the script in an outdated way in [your global.js](https://meta.wikimedia.org/wiki/User:He7d3r/global.js). I would normally update it for you, but your scripts are in a custom minified format. I suggest updating

[2015-03-28 15:21] he7d3r commented on #50
I fixed it here: https://github.com/he7d3r/mw-gadget-TemplateScript/commit/547b51a1799721a12d68e3279bd00f65a4761c6a

[2015-03-28 17:03] Pathoschild commented on #50
There's one old reference left under 'BookTools'; could you update that one too?

[2015-03-28 17:03] Pathoschild commented on #50
@he7d3r There's one old reference left under 'BookTools'; could you update that one too?

[2015-03-28 17:14] he7d3r commented on #50
@Pathoschild done in https://github.com/he7d3r/mw-gadget-BookTools/commit/a5cfb8c8e4e2dcd0eb9005b40fbfea3c1482eb96

[2015-03-28 17:37] Pathoschild commented on #50
Thanks!

[2015-03-28 17:37] #50 closed

[2015-08-15 20:33] Pathoschild commented on #8
This is essentially done; ajax sysop should now be compatible with the latest MediaWiki changes. I tested the script via [The Test Wiki](https://www.thetestwiki.org) and everything seems to work.

[2015-08-15 20:33] #8 closed

[2015-08-16 13:01] he7d3r opened #57 "[regex editor] add session plugins for custom use cases"
Instead of [writting to localStorage](https://github.com/Pathoschild/Wikimedia-contrib/blob/master/user-scripts/pathoschild.regexeditor.js#L158-L159), the regex tool could store its values to a `userjs-something`, in case the user is logged in. This would make them more permanent than it currently is (e.g. work across multiple browsers).

You can get the saved preferences using
https://meta.wikime

[2015-08-16 19:40] Pathoschild commented on #57
That's a good idea. Is there an equivalent method to fetch options? I don't see one [in the documentation](https://doc.wikimedia.org/mediawiki-core/master/js/#!/api/mw.Api.plugin.options).

[2015-08-16 19:53] he7d3r commented on #57
Oh, actually, we can use this:
[code]

[2015-08-17 08:19] alexbrollo commented on #57
localStorage id good for me, but while writing a it.source similar tool ("memoRegex") we choosed to store data into Index talk page, so that sessions can be used/updated by any user. Three scripts allow to download,  to upload and to read by javascript from any related Page ("align") data; bolder users can edit too manually data when needed. We use Index talk page as a storage location, since we a

[2015-08-17 08:31] alexbrollo commented on #57
Another difference between memoRegex and Regex editor is that regex aren't saved as a list, but as a dictionary, the key being the regex itself; the advantage is that an updated code for a stored regex overwrites quietly  the old one.

[2015-08-17 13:33] Pathoschild commented on #57
@alexbrollo That's a really interesting idea, but probably too specialised to support by default. We could maybe use a plugin approach to support specialised use cases like this. Maybe something like this?

[code]

Then we'd just add two default `savesAny` plugins for localStorage and user preferences. Would that work for you?

[2015-08-17 14:08] alexbrollo commented on #57
I added a picture to my profile just to make clear the difference in age between us - and the related obviuos difference in understanding speed.... :-) . Give me the needed, long time to understand and test all details of templateScript, then I'll comment your suggestion.

[2015-08-18 06:10] alexbrollo commented on #57
Ok, as an exercise to see if I'm understandig anything I'll try to write routines to store localStorage data into a default page, and to upload  data from the the page into localStorage. A question: when precisely Regex Editor reads  localStorage data? Does it read localStorage once when running Editor the first time while editing a page, or does it read again data any time the box is opened while

[2015-08-18 13:16] Pathoschild commented on #57
It reads from localStorage each time the editor is shown (so if you close and reopen the editor, it'll read from it again). It also reads from localStorage each time you save or delete a session, but that may change if we take the plugin approach (since we can't assume reading from storage is trivial anymore).

[2015-08-18 14:28] alexbrollo commented on #57
It's very comfortable behaviour for me, since - just as a test - I'll write  external script uploading and downloading permanently stored data into/from localStorage and sessions will be refreshed while editing the page. I'll store sessions into a public space so that they can be uploaded and used by any user; the idea of storing them into personal preferences is excellent if you want personal dat

[2015-08-21 11:11] alexbrollo opened #58 "[regex editor] Add search autocompletion and replace autosaving"
It would be useful to implement into Regex Editor:
1. a self-completing feature into search field, showing matching search strings into saved session/sessions;
2. when search string matches exactly a stored regex search, replace field should be filled with stored replace string, and its edited value  should be saved into session overwriting the previous data.

So, Regex editor would be converted i

[2015-08-22 19:45] Pathoschild commented on #58
Thanks for the suggestion. It's a very interesting idea, but I don't think it fits _as a default feature_ of the regex editor for three reasons:
* One of the wishlist features is syntax autocompletion. (You can see an example at [regex101.com](https://regex101.com/#javascript) by typing `[`, or selecting some text and typing `[` to surround it.) Having both types of autocompletion would be confusi

[2015-08-22 19:46] Pathoschild commented on #48
Unable to reproduce.

[2015-08-22 19:46] #48 closed

[2015-08-22 19:57] Pathoschild commented on #41
@Krinkle: if you're still interested in getting access, contact me privately and I'll set you up with the source code and information on how to use it. :)

[2015-08-22 19:57] #41 closed

[2015-08-22 20:03] #29 closed

[2015-08-22 22:07] Pathoschild opened #59 "[regex editor] save sessions to user preferences instead of localstorage"
As suggested by @he7d3r in #57, the regex editor should save user sessions to MediaWiki's user preferences (if they're logged in) instead of the browser's localstorage. This would make them more permanent than it currently is (e.g. work across multiple browsers).

We can use the [`mediawiki.api.options`](Modules#mediawiki.api.options) module to save sessions:

[code]

For anonymous users, it could

[2015-08-22 22:09] Pathoschild commented on #57
This has veered off from the original topic, so I created #59 for the original issue (saving sessions to user preferences).

[2015-08-22 22:17] Pathoschild commented on #57
I sketched out a few approaches that handle the use cases described above, and settled on the concept of session generator plugins. (You can skip to the bottom if you don't care about why.)

### ✘ generic storage plugins
In theory the best solution is to use generic plugins, in which even the default `localstorage` behaviour is just a plugin. In practice, making storage generic is complex so it's

[2015-08-22 22:37] alexbrollo commented on #58
Thanks for appreciation and comments.
While Samuele is working about TemplateScript into itsource (it will be a
hard job, you can't imagine how many scripts and variables are running *into
the global space* :-( , something like a bazaar...), I'll try to add a
similar feature into Candalua's Regex Editor (into mul.source, I'll avoid
any edit into it.source...), that feeds our "memoRegex" and that w

[2015-08-23 00:11] Pathoschild opened #60 "[TemplateScript] make script helpers more relevant in 2.0"
TemplateScript now passes script helpers to custom scripts to make them easier to write. Redesign them so they're more relevant and flexible.

### Background
I added script helpers in 1.6 two weeks ago. They let you write complex scripts in a very simple fluent way:
[code]

Since then I've updated countless custom scripts and learned three things about the script helpers:
- ✓ They make it _much_ e

[2015-08-23 00:17] Pathoschild opened #61 "[TemplateScript] 'edit' action should be default in 2.0"
TemplateScript can be used anywhere (from editing a page to emailing a user), but it's used almost exclusively to edit pages. When you don't specify which action a template is for, it should assume _edit_ instead of _always_.

h2. To do
- [x] When `forActions` isn't specified, default to `forActions: 'edit'`.
- [x] Add support for `forActions: '*'` to handle scripts that really should appear all t

[2015-08-23 00:25] Pathoschild opened #62 "[TemplateScript] support CodeEditor in 2.0"
When editing a page, TemplateScript assumes `$('#wpTextbox1')` is always the page text. The introduction of [CodeEditor](https://www.mediawiki.org/wiki/Extension:CodeEditor) and [VisualEditor](https://www.mediawiki.org/wiki/VisualEditor) breaks that assumption, which means the user must manually disable the editor to make changes through TemplateScript.

### To do
- [x] Improve abstractions for cu

[2015-08-23 01:06] Pathoschild opened #63 "[TemplateScript] eliminate 'autoSubmit' option in 2.0"
TemplateScript has an `autoSubmit` option which automatically saves the page after the changes have been applied. This option has been deprecated for a long time, is rarely used, and generally shouldn't be encouraged.

### To do
- [x] Update all usages to replace `autoSubmit` with `$('#wpSave').click()`.
- [x] Remove `autoSubmit` option.

[2015-08-23 01:42] Pathoschild opened #64 "[TemplateScript] eliminate alternate versions"
The [definitive version of TemplateScript](//tools-static.wmflabs.org/meta/scripts/pathoschild.templatescript.js) has been on Tool Labs since 2014, which updates from this git repository. This lets us decouple the way it's served from the way it's developed. Before then users would import it from wherever it was being developed at the time, which means there are several versions floating around. T

[2015-08-23 04:20] Pathoschild commented on #60
This is open to feedback, by the way. :)

[2015-08-23 05:30] Pathoschild opened #65 "[TemplateScript] use mw.* helpers for configuration in 2.0"
The user can turn off the regex editor like this:

[code]

TemplateScript should use the new `mw.user.options`. This will let the user do this instead:

[code]

[2015-08-23 15:22] #61 closed

[2015-08-23 19:34] Pathoschild opened #66 "[TemplateScript] let users specify namespaces by name in 2.0"
Users need the namespace ID to filter a template:

[code]

Let users specify the namespace by its canonical or localised name:
[code]

[2015-08-23 19:34] Pathoschild commented on #66
Done!

[2015-08-23 19:34] #66 closed

[2015-08-23 19:34] Pathoschild commented on #65
Done!

[2015-08-23 19:34] Pathoschild commented on #61
Done!

[2015-08-23 23:50] alexbrollo commented on #57
You are largely overestimating my skills.... but yes, my aim is to share
useful sessions among any user that is working about the same work, and
saving sessions into a standard subpage is what I need. IMHO talk pages are
better than base pages, since they don't waste statistics and extractions,
from current practice Index talk page turned out as the best location for
shared regex data.

I never fe

[2015-08-24 13:23] Pathoschild commented on #65
In 9c75a24 @he7d3r notes:

https://meta.wikimedia.org/w/api.php?action=query&meta=userinfo&uiprop=options

I reopen this ticket to make sure.

[2015-08-25 13:25] alexbrollo commented on #58
Thanks. My experience is limited to unique sessions per work, managed by few bold users; so I didn't imagine the true complexity of a generalized, multi-session tool.

[2015-08-27 22:09] Pathoschild commented on #64
Done! I wrote a crosswiki search script (using the sitematrix + search APIs) and updated all found usages.

[2015-08-27 22:09] #64 closed

[2015-08-27 22:15] Pathoschild opened #67 "[TemplateScript] migrate all regex menu framework users to TemplateScript"
The [regex menu framework](User:Pathoschild/Scripts/Regex menu framework) is an ancient script that was merged into TemplateScript years ago. It hasn't been maintained in a very long time, so it's not compatible with recent MediaWiki changes and doesn't follow current JavaScript conventions.

Migrate all users to TemplateScript.

### To do
- [ ] Eliminate [m:User:Pathoschild/Scripts/Regex_menu_fra

[2015-08-27 23:57] Pathoschild commented on #65
It's fine as long as we respect some constraints. Quoting from [_mw:Api:Options#Changing options_](https://www.mediawiki.org/wiki/API:Options#Changing_options):

[2015-08-28 00:14] Pathoschild commented on #63
Done, all usages updated.

[2015-08-28 00:14] #63 closed

[2015-08-28 00:16] Pathoschild commented on #60
I wrote a crosswiki search script (using the sitematrix + search APIs) and updated all found usages, so the backward compatible interface should be safe to remove.

[2015-08-28 00:30] he7d3r commented on #65
That is not exactly what I mean. I suspect we are only supposed to use `mw.user.options.get()`, as it is MediaWiki which sets its values when someone loads ResourceLoader's "user.options" module.

Are you planning to set "userjs-templatescript" though the api, so that the value is really saved to the user preferences? (e.g. with a mw.Api() call to action=tokens&type=options)
Otherwise, people migh

[2015-08-28 03:26] Pathoschild commented on #65
For now our use case is setting options right before you load the script. I don't think we need to persist that to the API, and doing so might even be confusing (since removing the line from the user's `*.js` would have no effect). At some point we might want a UI to configure options instead, in which case persisting to the API would make more sense.

If the user knows enough about MediaWiki scri

[2015-08-28 05:11] ricordisamoa commented on #65
I think `mw.user.options` should only be used after saving preferences on the server side, for example with `mw.Api#saveOptions`.

[2015-08-28 08:16] he7d3r commented on #65
MediaWiki has two instances of `mw.Map`. If there is no intention of making the user option to be saved, then you can simply use `mw.config` (which has no dependency) instead of `mw.user.options` (whose functionality is provided by the ResourceLoader module "user.options") to `.set()` an option right before the script is loaded:
[code]
That would make things less confusing.

[2015-08-28 10:40] ricordisamoa commented on #65
Or better yet, create a separate instance of `mw.Map`.
[code]

[2015-08-28 13:21] Pathoschild commented on #65
@ricordisamoa: unfortunately that would need TemplateScript to be loaded before you can define your settings, by which point it would be too late to configure the initialisation.

This is fundamentally what `mw.user.options` is for: a generic way to get and store user settings. They don't necessarily need to be persisted to the API. To make sure, I asked whether this was a valid use of `mw.user.op

[2015-08-28 20:36] he7d3r commented on #65
I think Krinkle's comment is more about not setting `mw.config.<anything>` than about setting a new value with `mw.config.set( '<the new value>' )`.

[2015-08-29 16:01] Pathoschild commented on #65
I discussed this in #mediawiki to see which is preferred. Looks like `mw.config` wins after all. :)

I'll make the change in 2.0, since that's the next release.

[2015-08-29 16:48] Pathoschild opened #68 "[TemplateScript] add script helpers for arbitrary fields in 2.0"
Some wikis have extra fields that need to be edited by custom scripts. For example, [pages on enwikisource](https://en.wikisource.org/wiki/Page:LA2-NSRW-1-0187.jpg?action=edit) have a header and footer that is often generated from custom scripts. The custom scripts need to use jQuery to edit the fields directly, which means they can't use the shorthand methods like `editor.replaceSelection`, `edit

[2015-08-29 16:59] Pathoschild commented on #68
Done in the 2.0 branch. The `editor` now lets you get the generic helpers for any text input (except `escape` and `unescape` for now):

[code]

(Note that `editor.for('#wpTextbox1')` is not equivalent to `editor`, because the latter has non-generic logic like abstracting [CodeEditor](https://www.mediawiki.org/wiki/Extension:CodeEditor).)

[2015-08-29 17:28] Pathoschild commented on #60
Done in the 2.0 branch.

[2015-08-29 17:28] #60 closed

[2015-08-29 18:21] Pathoschild commented on #65
Done in the 2.0 branch.

[2015-08-29 18:21] #65 closed

[2015-08-29 18:41] Pathoschild opened #69 "[TemplateScript] support VisualEditor"
Add support for editing [VisualEditor](https://www.mediawiki.org/wiki/VisualEditor) content. TemplateScript already supports the `#wpTextbox1` wikitext editor and [CodeEditor](https://www.mediawiki.org/wiki/Extension:CodeEditor) (since 2.0).

[2015-08-29 18:44] Pathoschild commented on #62
I added CodeEditor support in the 2.0 branch, and split VisualEditor to #69 since that's trickier.

[2015-08-29 18:44] #62 closed

[2015-08-29 19:11] Pathoschild commented on #69
VisualEditor support is tricky:
* There's no official interface to VisualEditor, though we can [hack it using an undocumented internal interface](https://www.mediawiki.org/wiki/VisualEditor/Gadgets). This interface [is subject to change](https://lists.wikimedia.org/pipermail/wikitech-l/2015-August/082936.html), though.
* VisualEditor doesn't use a text paradigm like CodeEditor and the standard wik

[2015-08-29 19:17] he7d3r commented on #69
If I remember correctly, there is a way to get the wikitext which corresponds to the current VisualEditor representation the user is seeing in a page (no idea what is the command for that though), and this could be used so that users can apply the usual search/replace to this representation before saving the page (but if I'm not mistaken, this would have to be saved through the usual ways instead

[2015-08-29 22:40] Pathoschild commented on #60
Merged into `master` and pushed live.

[2015-08-29 22:40] Pathoschild commented on #68
Merged into `master` and pushed live.

[2015-08-29 22:40] Pathoschild commented on #66
Merged into `master` and pushed live.

[2015-08-29 22:40] Pathoschild commented on #65
Merged into `master` and pushed live.

[2015-08-29 22:40] Pathoschild commented on #64
Merged into `master` and pushed live.

[2015-08-29 22:40] Pathoschild commented on #63
Merged into `master` and pushed live.

[2015-08-29 22:41] Pathoschild commented on #62
Merged into `master` and pushed live.

[2015-08-29 22:41] Pathoschild commented on #61
Merged into `master` and pushed live.

[2015-08-30 03:07] Pathoschild commented on #68
Reopened per @he7d3r's inline comment on 6daa07b:

[2015-08-30 03:17] Pathoschild commented on #68
Alright. So what's a good alternative name that's intuitive and concise?

[code]

[2015-08-30 10:57] he7d3r commented on #68
I like `forField` (btw: does it accept `forField('.multiple #elements')`?).

[2015-08-30 14:31] Pathoschild commented on #68
@he7d3r: `forField` is meant to wrap one element, and the [behaviour is undefined](https://en.wikipedia.org/wiki/Undefined_behavior) if you give it multiple. That said, it will mostly work just fine on multiple elements, except that `get()` will return the value of the first element (per jQuery behaviour) and `replaceSelection` will only work on the first element (even if you selected text in anot

[2015-08-30 16:19] he7d3r commented on #68
Probably not. I was just wondering because for many elements "forField**s**" would make more sense. But I didn't see any use of that so far. I think it would be good idea to add `.first()`.

[2015-08-30 20:46] Pathoschild commented on #68
Done and pushed live. All usages have been updated.

[2015-08-30 20:46] #68 closed

[2015-09-01 05:03] Pathoschild opened #71 "[regex editor] add syntax highlighting"
The regex editor uses plaintext fields for the regex patterns, which isn't very user-friendly. We should add syntax highlighting.

![image](https://cloud.githubusercontent.com/assets/230581/9596748/21d25416-5047-11e5-8f6f-e05bf624f433.png)

[2015-09-01 05:21] Pathoschild commented on #71
I did a quick bit of research.

* [regex101.com](https://regex101.com/) has really nice syntax highlighting and autocompletion, but sadly it's [not](https://github.com/firasdib/Regex101/issues/6) [open](https://github.com/firasdib/Regex101/issues/77) [source](https://github.com/firasdib/Regex101/issues/89).
* [regexpal](http://regexpal.com/) has really nice syntax highlighting, and [it _is_ open-s

[2015-09-01 13:35] Pathoschild commented on #71
Another option is [regex colorizer](https://github.com/slevithan/regex-colorizer) by the author of regexpal. It doesn't work on text inputs, but we can change them into `<pre contenteditable>` and update the syntax highlighting on keypress. It looks like [contenteditable has solid cross-browser compatibility](http://caniuse.com/#feat=contenteditable).

[2015-09-02 03:42] Pathoschild commented on #71
Done in the `feature/regex-syntax-highlighting` branch. There's more UI work to do, but you can preview the syntax highlighting on-wiki by loading the edge version of TemplateScript:

[code]

[2015-09-04 01:13] Pathoschild commented on #71
The syntax highlighting works fine, but changing the DOM (to syntax-highlight the text) resets the field's undo history.

[2015-09-04 01:54] Pathoschild commented on #71
The `contenteditable` syntax highlighting works fine, but changing the DOM to syntax-highlight text resets the field's undo history. [RegexPal](http://regexpal.com/) works around this by placing a formatted `<pre>` over the plaintext `<textarea>`, and mirroring the text as the user types. To the user it looks like their text is being formatted as they type, but they're really typing into a hidden

[2015-09-08 01:42] Pathoschild commented on #71
I created my own implementation inspired by regexpal instead. It places a syntax-highlighted `<pre>` behind a transparent `<textarea>`, and resizes them to fit the content as you type:
![image](https://cloud.githubusercontent.com/assets/230581/9724540/dbdc4640-55a7-11e5-881b-87dff680e83d.png)

This seems to be working crossbrowser so far. I'll keep it in the branch for further testing.

[2015-09-17 02:05] Pathoschild opened #72 "[TemplateScript] support shared libraries"
Consider adding built-in support for importing shared libraries of TemplateScript scripts and templates.

### The problem
TemplateScript scripts often have a few maintainers and many users. Since there's no built-in way to import scripts and templates, sharing is usually done in one of these two ways.

Many users simply copy & paste entire scripts. For example, [at least 29 users duplicated an OCR

[2015-09-17 08:04] billinghurst commented on #72
To be radical the best way that I see is the ability for a community to
have a special: page for their scripts that gives the ability to the user
to tick on and off those they wish to use.

OR

For the WSes that they can have scripts tied to works in the Index/Page ns
that dynamically apply based on the work, without the need for the user to
activate anything.

Getting away from anything geeky, to

[2015-09-17 13:54] #71 closed

[2015-09-18 04:27] Pathoschild commented on #72
I like it. The special page would be much more user-friendly, and it could be used to configure other TemplateScript settings too. I guess [we'd save to the user's preferences](https://www.mediawiki.org/wiki/API:Options).

The second suggestion is a good idea too, but it's really a separate feature.

[2015-09-19 02:16] Pathoschild commented on #72
Here's a quick mockup of @billinghurst's idea:
![image](https://cloud.githubusercontent.com/assets/230581/9974193/a9a20fda-5e52-11e5-8e96-f79aaf598c6e.png)

I really like this approach so far. Any thoughts?

[2015-09-26 23:35] Pathoschild commented on #72
A hidden prototype is now live; you can see the settings UI by visiting `Special:TemplateScript` on any wiki. Here's how it works (continuing the previous examples):

1. The script maintainer's shared `mosnum-dates.js` contains this code:

[code]
2. The user imports it the usual way via `common.js` (or a gadget):

[code]

    If they do nothing else, all scripts are automatically enabled.

3. When

[2015-10-04 22:05] Pathoschild opened #73 "[TemplateScript] update for OOjs UI"
MediaWiki recently added [OOjs UI](https://www.mediawiki.org/wiki/OOjs_UI) to the _move page_ form. This breaks any scripts that interact with the fields, since OOjs wraps them with its own UI. Look into programmatically interacting with OOjs when it's present.

[2015-10-05 03:29] ricordisamoa commented on #73
[code]

[2015-10-07 01:30] Pathoschild commented on #72
I added an optional `defaultEnabled` flag to support preloading libraries. When a library has `defaultEnabled: false`, none of its scripts will be enabled unless the user explicitly selects them via `Special:TemplateScript`.

This is mainly meant for wikis like enwikisource that have some scripts that are widely useful. For example, this lets you create one TemplateScript gadget which comes preloa

[2015-10-18 06:15] Pathoschild commented on #72
The feature is now live, with the first libraries being rolled out on enwikisource. I'll mark this done.

[2015-10-18 06:15] #72 closed

[2015-11-03 23:55] Pathoschild opened #74 "[TemplateScript] let power users override imported library"
The new library feature (#72) really simplifies usage for most users, but offers less flexibility for power users. Add a mechanism for power users to customise the imported scripts (e.g. to [add keyboard shortcuts](https://en.wikisource.org/wiki/Special:Diff/5933387)). This mechanism must not impact the simplified use case.

[2015-11-04 00:06] Pathoschild commented on #74
You can now override an imported script before the library is imported. For example, this changes an imported script's name and adds a keyboard shortcut:

[code]

The library feature is in limited rollout on enwikisource, so this is open to feedback.

[2016-01-05 18:29] bihcode opened #75 "BAM"

[2016-01-05 21:45] Pathoschild commented on #75
:boom:?

[2016-01-07 19:51] #75 closed

[2016-02-12 17:09] Pathoschild opened #76 "[Stewardry] add timestamps to date columns"
Stewardry shows results in a simplified date format like `20160212`. Add a UTC timestamp like `2016-02-12 16:05` [per request](https://en.wikipedia.org/wiki/Special:Diff/704628595).

[2016-02-15 05:31] #76 closed

[2016-02-21 04:28] Pathoschild commented on #47
Done with 981ec48, which adds namespace and main/subpage filters.

[2016-02-21 04:28] #47 closed

[2017-01-10 14:26] ricordisamoa opened #79 "[tool-labs] Open source license"
https://wikitech.wikimedia.org/wiki/Nova_Resource:Tools/Rules

https://wikitech.wikimedia.org/wiki/Help:Tool_Labs/Right_to_fork_policy

No Creative Commons license seems listed [here](//opensource.org/licenses/alphabetical)

[2017-01-12 04:59] Pathoschild commented on #79
That's ironic, since the OSI content is licensed under a Creative Commons license. I'd like to find out more about the OSI's stance on Creative Commons licenses before I look into relicensing.

[2017-01-12 05:22] Pathoschild commented on #79
Scratch that; I changed to the MIT license since that's what I normally use anyway. :)

[2017-01-12 05:22] #79 closed

[2017-01-12 15:08] ricordisamoa commented on #79
Thank you :)
Further reading at https://creativecommons.org/faq/#can-i-apply-a-creative-commons-license-to-software

[2017-02-18 18:38] maurelio-wm opened #80 "[StewardScript] Remove "user > globalrenamerequest""
Please consider removing the global rename request link. We are unlikely using that link but in the case we want to submit a rename request for ourselves. Thanks.

[2017-02-18 19:00] maurelio-wm commented on #80
Patch on #81.

[2017-02-18 19:37] ghost opened #82 "[StewardScript] AJAX CheckUser?"
StewardScript contained previously an AJAX checkuser function. After being missing from sometime already, I wonder if that function could return to the stewardscript or if the issues that made this to be removed are still present thus blocking its re-addition. Best regards.

[2017-02-18 20:21] Pathoschild commented on #80
Merged and deployed. Thanks!

[2017-02-18 20:21] #80 closed

[2017-02-18 20:25] Pathoschild commented on #82
Hi @maurelio-wm. I don't think any of these scripts ever had an ajax checkuser feature; maybe that was from someone else's script?

[2017-02-18 21:46] maurelio-wm commented on #82
Hi @Pathoschild If you check [this oldid](https://meta.wikimedia.org/w/index.php?title=StewardScript&oldid=2425572) you'll see that your steward script did supported that feature in the past. Unfortunately I cannot find the page where the source code of StewardScript was previously located to link it to you. I'll dig deeper. Regards.

[2017-02-19 11:50] maurelio-wm commented on #82
Was called "instant checkuser" at [this source](https://meta.wikimedia.org/w/index.php?title=Special:Undelete&target=User%3APathoschild%2FScripts%2FStewardScript.js&timestamp=20120227014946) (page deleted) and you said you had to disable it since Wikimedia set X-Frame-Options DENY. Regards.

[2017-02-19 21:38] Pathoschild commented on #82
Thanks for digging that up. Unfortunately those reasons still apply: we still don't have a crosswiki userrights API, and the wiki APIs don't set `Access-Control-Allow-Origin` headers which would let scripts call the userrights API on the target wiki.

[2017-02-20 10:37] he7d3r commented on #82
Is there a Phabricator task about that yet?

[2017-02-20 12:20] maurelio-wm commented on #82
@he7d3r No as far as I know.

@Pathoschild Thanks for your reply. Maybe @tgr could weight in (is anomie here?) and see if it is worth requesting this setting to be back?

Thanks.

[2017-02-25 01:15] tgr commented on #82
MediaWiki does set CORS headers. See https://www.mediawiki.org/wiki/Manual:CORS for details.

[2017-02-25 01:16] tgr commented on #82
Alternatively you could use the centralauthtoken API. CORS is somewhat fragile in that you might not be logged in on the target wiki.

[2017-03-02 20:40] ghost opened #83 "[StewardScript] Change of prefilled reasons, add some more"
Currently "crosswiki abuse" is the only reason that is prefilled by the script, no matter if we select "lock", "lock & hide" or "lock & oversight". It'd be good if, depending on the option, the message could also change. I propose to keep "crosswiki abuse" for "lock" but:

- for "lock & hide" I'd go with "offensive or abusive username" (except a better proposed wording).
- for "lock & oversight" I

[2017-03-19 08:21] Steinsplitter opened #85 "[AccountEligibility] Edit count rules are crosswiki by default"
https://tools.wmflabs.org/meta/accounteligibility/42/Santamarcanda?
 • has at least 75 edits as of 31 December 2016 (has 82 so far).

But the user has less edits:
[code]

[2017-03-19 13:28] AntiCompositeNumber commented on #85
This issue only happens when using the auto-detect wiki function. Manually selecting Commons results in the correct number: https://tools.wmflabs.org/meta/accounteligibility/42/Santamarcanda?wiki=commonswiki

[2017-03-19 14:42] Pathoschild commented on #85
Edits are accumulating crosswiki by default after the accounteligiblity rewrite. I'll fix that later today, once I make sure none of the event rules depend on that.

[2017-03-19 20:57] Pathoschild commented on #85
Fixed and deployed. Can you confirm the results match what you expect now?

[2017-03-29 12:34] sjoerddebruin opened #86 "[stalktoy] focus input field when opening page"
It would be great if the input field would be focused if I open stalktoy, this way people can paste IP's faster.

[2017-04-08 20:25] maurelio-wm commented on #83
Ping :)

[2017-04-08 20:26] maurelio-wm commented on #82
@Pathoschild does @tgr points help you? Regards.

[2017-04-08 22:44] Pathoschild commented on #82
Hi @maurelio-wm. I no longer actively develop StewardScript since I'm no longer a steward. If someone submits a pull request, I'd be happy to review + merge + deploy it though. :)

[2017-04-08 22:44] Pathoschild commented on #83
Hi @maurelio-wm. I no longer actively develop StewardScript since I'm no longer a steward. If someone submits a pull request, I'd be happy to review + merge + deploy it though. :)

[2017-04-15 03:49] #85 closed

[2017-04-16 09:33] sivaraam commented on #85
I guess this isn't fixed yet. I could see that the edit count is higher when analysis is done using the _auto-select wiki_ feature. See below links,
1. **Without** auto-select wiki feature : The  original edit-count for metawiki is `16` https://tools.wmflabs.org/meta/accounteligibility/44/Kaartic?wiki=metawiki
2. **With** auto-select wiki feature : The edit count for metawiki is shown as `309` (ma

[2017-04-16 15:24] Pathoschild commented on #85
@sivaraam That's normal: edits are supposed to be counted crosswiki for the 2017 Wikimedia Foundation elections. The bug happened when they were counted crosswiki even for events where they weren't supposed to be. :)

[2017-04-30 12:06] hartman opened #89 "Scripts don't declare RL module dependencies"
Hi, this script is not declaring/enforcing it's dependency on mediawiki.util. This likely causes JS errors for users of this script, as Paine Ellsworth, who has this installed in [global.js](https://meta.wikimedia.org/wiki/User:Paine_Ellsworth/global.js)

See also report:
https://en.wikipedia.org/wiki/Wikipedia:Village_pump_(technical)#Edit_screen_instability

[2017-05-01 04:45] Pathoschild commented on #89
Fixed in c4c70eaf594f99af6c1290a8a8e4020210ccc38e and deployed. You may need to [clear your cache](https://en.wikipedia.org/wiki/Wikipedia:Bypass_your_cache) to see the changes. Let me know whether you still have any issues. :)

[2017-05-01 04:45] #89 closed

[2017-05-01 10:02] JackPotte opened #90 "[stalktoy] The Wikiversity is missing in the first pie chart"
Example: https://tools.wmflabs.org/meta/stalktoy/JackPotte
![image](https://cloud.githubusercontent.com/assets/6272739/25577398/f8107a3c-2e65-11e7-9ab9-f4a2bad6394d.png)

[2017-05-01 15:34] Pathoschild commented on #90
That's strange, it shows up fine for me:

I also see very different numbers in the chart (e.g. 58.5% Wiktionary instead of the 73.3% in your screenshot). Are there any JavaScript errors when that happens?

[2017-07-08 11:45] MarcoAurelioWM opened #91 "[AJAX sysop] Revert links makes you jump to the top of the page"
When trying to rollback an edit using the ajax rollback, it always bring me to the top of the page. Any idea why that might be happening?

[2017-07-08 11:52] MarcoAurelioWM commented on #83
@Pathoschild Hi. Unfortunately my JS skills are non-existant. I understand that the values are provided by https://github.com/Pathoschild/Wikimedia-contrib/blob/master/user-scripts/pathoschild.stewardscript.js#L150-L156 but I'm not sure what do I have to add/remove/modify in order to achieve the goal I suggested.

[2017-07-15 18:11] Pathoschild commented on #83
@MarcoAurelioWM I can't really help, since I can't access the page the script changes. Are any of the current stewards familiar with JavaScript?

[2017-07-15 18:59] Pathoschild commented on #91
Fixed and deployed. You may need to [clear your cache](https://en.wikipedia.org/wiki/Wikipedia:Bypass_your_cache) to see the changes. :)

[2017-07-15 18:59] #91 closed

[2017-07-15 19:00] Pathoschild commented on #90
Closed due to lack of response.

[2017-07-15 19:00] #90 closed

[2017-07-20 21:56] MarcoAurelioWM opened #93 "[globalgroups] Update extensions permissions for REL1_29"
I'm creating this in order to have some sort of reference in the pull requests I'll be committing with regards to this task. Thanks.

[2017-07-20 21:57] MarcoAurelioWM commented on #93
#92 for mediawiki core

[2017-09-27 14:28] Pathoschild opened #94 "[TemplateScript] add support for CodeMirror"
Add support for CodeMirror, the editor used when users enable the beta [wikitext syntax highlighting](https://meta.wikimedia.org/wiki/Community_Tech/Wikitext_editor_syntax_highlighting) feature.

[Requested on Meta](https://meta.wikimedia.org/wiki/Talk:TemplateScript#Conflict_with_Wikitext_highlighting).

[2017-09-27 19:16] he7d3r commented on #94
At least the "Regex editor" is working fine.

[2017-11-27 10:36] MarcoAurelioWM commented on #93
Closing because this is now obsolete as we're in REL1_30.

[2017-11-27 10:36] #93 closed

[2018-01-08 12:06] MarcoAurelioWM opened #95 "Missing databases (recently deleted wikis) broke some tools"
als.wikibooks, als.wikiquote and als.wiktionary, and mo.wikipedia and mo.wiktionary wikis were deleted yesterday, and its replicas were dropped some days ago. However https://tools.wmflabs.org/meta/userpages/Evolution+and+evolvability fails because the tool can't reach alswikibooks_p. Not sure if this is something you can fix on your tool directly or it requires WM Cloud Services input. Thanks.

[2018-01-08 12:13] MarcoAurelioWM commented on #95
https://github.com/Pathoschild/Wikimedia-contrib/blob/f94b7aa1e9a3c7b3e5899db33d939098c7335490/tool-labs/userpages/index.php#L59-L64

Don't we need to use the new Toolforge databases here?

[2018-01-08 15:47] Pathoschild commented on #95
@MarcoAurelioWM The tools now ignore those wikis. Thanks for reporting it!

That code does use the new Toolforge databases. The tools request the database for a wiki, which is mapped at a lower level to the database shard:
https://github.com/Pathoschild/Wikimedia-contrib/blob/f94b7aa/tool-labs/backend/modules/Wikimedia.php#L43-L52

[2018-01-08 15:47] #95 closed

[2018-01-09 08:38] DDGo commented on #95
Old meta_p table on Toolforge replicas caused this issue. [https://phabricator.wikimedia.org/T184433](See Phabricator)

[2018-01-14 16:12] MarcoAurelioWM opened #96 "[AccountEligibility] [URGENT] Add support for candidates/voters on the 2018 Steward Elections"
I've just noticed that nobody asked you to create the new forms for this year [elections](https://meta.wikimedia.org/wiki/Stewards/Elections_2018/Guidelines). Is it possible to have it done? Candidate submissions start at 00:00 15 January 2018 (UTC). Thanks!

[2018-01-14 17:33] Pathoschild commented on #96
I'm travelling without access to a computer today, but I'll set it up as soon as I can (should be before 5am UTC).

[2018-01-15 01:32] Pathoschild commented on #96
@MarcoAurelioWM The code changes are ready (see #97), but I won't be able to deploy until I reach home. The ETA is 6am UTC, but there are a lot of airplane delays due to local weather.

Here are the specific rules to confirm:
* Voters:
  * not a bot on any wiki;
  * 600 edits across all wikis before 01 November 2017;
  * 50 edits across all wikis between 01 August 2017 and 31 January 2018 inclusiv

[2018-01-15 06:22] MarcoAurelioWM commented on #96
Hello. Yes, those are the requirements for this year election. Thanks.
--
M. A.

[2018-01-15 07:58] Pathoschild commented on #96
Deployed!

[2018-01-15 07:58] #96 closed

[2018-02-26 11:32] MarcoAurelioWM opened #100 "[AccountEligibility] API interface for automatic vote checking?"
Could it be possible to have some sort of "bot output" so bots such as AlchBot from @alchimista could do the verification themselves without human intervention? My idea is that maybe AlchBot could query the AccountEligibility data and be displayed in a bot-readable format. Then AlchBot tags the votes as eligible or not. Any chances? Regards.

[2018-03-15 15:53] Jeff-Gdot opened #102 "[stalktoy] not showing either block"
https://tools.wmflabs.org/meta/stalktoy/Xx+BlackSheep+xX does not show either of the blocks at https://commons.wikimedia.org/w/index.php?title=Special:Log&page=User%3AXx_BlackSheep_xX&type=block

[2018-05-09 11:29] MarcoAurelioWM opened #103 "All of your tools broken"
`Fatal error: Invalid serialization data for DateTime object in /mnt/nfs/labstore-secondary-tools-project/meta/git/wikimedia-contrib/tool-labs/backend/modules/Cacher.php on line 153`

This message is appearing on all of your tools since yesterday. For example: https://tools.wmflabs.org/meta/userpages/MarcoAurelio

Any idea what's going on?

Thank you!

[2018-05-09 14:52] Pathoschild commented on #103
Fixed. The errors were caused by a cache file containing invalid data somehow; I cleared the cache and everything should be fine now. Thanks for reporting it!

[2018-05-09 14:52] #103 closed

[2018-06-26 07:36] zhuyifei1999 opened #105 "[AccountEligibility] Possible miscounting -- POTY 2017 of User:Marcel64121"
https://tools.wmflabs.org/meta/accounteligibility/47/Marcel64121 claims that this user has 75 edits before 2018 on frwiki, but I only see [73](https://fr.wikipedia.org/w/index.php?title=Sp%C3%A9cial:Contributions/Marcel64121&dir=prev&limit=75&target=Marcel64121&uselang=en). In events.php we [did not](https://github.com/Pathoschild/Wikimedia-contrib/blob/52be4d6e1f3089c95e1ed85d518ede501eeff4d6/too

[2018-07-01 02:11] Pathoschild commented on #105
@zhuyifei1999 I found these four revisions for that user:

[code]

The [contributions page](https://fr.wikipedia.org/wiki/Sp%C3%A9cial:Contributions/Marcel64121?dir=prev&limit=75&target=Marcel64121&uselang=en) does show those page moves, but there's two revisions for each move in the database. It looks like ignoring revisions linked to an invalid page ID should fix it, but I'd want to look into wh

[2018-07-03 16:37] zhuyifei1999 commented on #105
I think these revisions belong to a page that somehow doesn't exist, and LEFT JOIN NULLs the column.
[code]
But I don't understand how a row in the page table can just go 'missing'. The page table isn't one that has secret data and redacts rows.

[2018-07-03 16:48] zhuyifei1999 commented on #105
Something interesting is that [the pages are moved over redirect](https://fr.wikipedia.org/w/index.php?title=Sp%C3%A9cial:Journal&page=Aquitaine-Limousin-Poitou-Charentes).

[2018-07-03 17:23] Pathoschild commented on #105
This might be a bug in MediaWiki; I'm not sure if storing revisions for an invalid page ID when pages are moved over a redirect is intentional.

[2018-08-31 11:56] MarcoAurelioWM opened #108 "Fatal error: Invalid serialization data for DateTime object"
Hello,

Visiting the [stewardry tool](https://tools.wmflabs.org/meta/stewardry/eswikibooks?bot=1) for eswikibooks I got the following error:

[code]

I guess some caching issues?

Please also note that `wikimediafoundation.org` was moved to `foundation.wikimedia.org` (the first is now a WordPress-like site) just in case that needs to be adjusted elsewhere.

Thank you.

Best regards.

[2018-08-31 12:14] MarcoAurelioWM opened #109 "Update foundationwiki links to foundation.wikimedia.org"
https://github.com/Pathoschild/Wikimedia-contrib/blob/52be4d6e1f3089c95e1ed85d518ede501eeff4d6/tool-labs/accounteligibility/events.php#L50

Patch shortly follows.

[2018-08-31 12:17] MarcoAurelioWM commented on #109
Has now patch for review. PTAL.

[2018-08-31 15:32] Pathoschild commented on #108
@MarcoAurelioWM Thanks for reporting it! I deleted the cache to fix the immediate error, so all the tools are back online.

This is caused by a bug in PHP 5 which is practically impossible to handle, since `unserialize` throws a fatal exception in that case. The longer-term fix will be migrating to the [PHP 7.2 beta webservice](https://lists.wikimedia.org/pipermail/cloud/2018-August/000367.html).

[2018-08-31 15:39] #109 closed

[2018-08-31 15:41] Pathoschild commented on #109
Merged and deployed. Thanks!

[2018-08-31 15:44] Pathoschild commented on #9
I'm no longer very active on Wikimedia wikis, so I'm not actively developing new features for these scripts. (I'm still maintaining the existing scripts though.) I'll close this as _won't do_, but pull requests are welcome if someone wanted to tackle this.

[2018-08-31 15:44] #9 closed

[2018-08-31 15:45] Pathoschild commented on #16
I'm no longer very active on Wikimedia wikis, so I'm not actively developing new features for these tools. (I'm still maintaining the existing tools though.) I'll close this as _won't do_, but pull requests are welcome if someone wanted to tackle this.

[2018-08-31 15:45] #16 closed

[2018-08-31 15:46] Pathoschild commented on #25
I'm no longer very active on Wikimedia wikis, so I'm not actively developing new features for these tools. (I'm still maintaining the existing tools though.) As such I'll close this as _won't do_.

[2018-08-31 15:46] #25 closed

[2018-08-31 15:46] Pathoschild commented on #26
I'm no longer very active on Wikimedia wikis, so I'm not actively developing new features for these tools. (I'm still maintaining the existing tools though.) I'll close this as _won't do_, but pull requests are welcome if someone wanted to tackle this.

[2018-08-31 15:46] #26 closed

[2018-08-31 15:47] Pathoschild commented on #27
I'm no longer very active on Wikimedia wikis, so I'm not actively developing new features for these tools. (I'm still maintaining the existing tools though.) The feature is still available but hidden due to the performance tradeoff. I'll close this as done, but pull requests are welcome if someone wanted to improve it further.

[2018-08-31 15:47] #27 closed

[2018-08-31 15:48] Pathoschild commented on #30
I'm no longer very active on Wikimedia wikis, so I'm not actively developing new features for these tools. (I'm still maintaining the existing tools though.) I'll close this as _won't do_, but pull requests are welcome if someone wanted to tackle this.

[2018-08-31 15:48] #30 closed

[2018-08-31 15:49] Pathoschild commented on #31
I'm no longer very active on Wikimedia wikis, so I'm not actively developing new features for these tools. (I'm still maintaining the existing tools though.) I'll close this as _won't do_, but pull requests are welcome if someone wanted to tackle this.

[2018-08-31 15:49] #31 closed

[2018-08-31 15:49] Pathoschild commented on #37
I'm no longer very active on Wikimedia wikis, so I'm not actively developing new features for these tools. (I'm still maintaining the existing tools though.) I'll close this as _won't do_, but pull requests are welcome if someone wanted to tackle this.

[2018-08-31 15:49] #37 closed

[2018-08-31 15:51] Pathoschild commented on #59
I'm no longer very active on Wikimedia wikis, so I'm not actively developing new features for these scripts. (I'm still maintaining the existing scripts though.) I'll close this as _won't do_, but pull requests are welcome if someone wanted to tackle this.

[2018-08-31 15:51] #59 closed

[2018-08-31 15:52] Pathoschild commented on #57
I'm no longer very active on Wikimedia wikis, so I'm not actively developing new features for these scripts. (I'm still maintaining the existing scripts though.) I'll close this as _won't do_, but pull requests are welcome if someone wanted to tackle this.

[2018-08-31 15:52] #57 closed

[2018-08-31 15:53] #58 closed

[2018-08-31 15:54] #74 closed

[2018-08-31 15:54] Pathoschild commented on #82
I'm no longer very active on Wikimedia wikis, so I'm not actively developing new features for these scripts. (I'm still maintaining the existing scripts though.) I'll close this as _won't do_, but pull requests are welcome if someone wanted to tackle this.

[2018-08-31 15:54] #82 closed

[2018-08-31 15:56] Pathoschild commented on #100
See #40.

[2018-08-31 15:56] #100 closed

[2018-08-31 15:59] Pathoschild commented on #102
The tool does show the block now, so it was probably due to a temporary database issue (e.g. replication lag). Thanks for reporting it!

[2018-08-31 15:59] #102 closed

[2018-08-31 15:59] Pathoschild commented on #83
I'm no longer very active on Wikimedia wikis, so I'm not actively developing new features for these scripts. (I'm still maintaining the existing scripts though.) I'll close this as _won't do_, but pull requests are welcome if someone wanted to tackle this.

[2018-08-31 15:59] #83 closed

[2018-09-17 02:10] Pathoschild commented on #108
For reference, here's how to test PHP 7.2 compatibility on Tool Labs. This should catch most issues before you switch on PHP 7 mode.

1. Launch a PHP 7.2 shell in an SSH session:
[code]
2. Install [PHPStan](https://github.com/phpstan/phpstan) outside the folder you'll be analysing:
[code]
3. If needed, create an `autoload.php` file which maps classes to files for PHPStan. I wrote my tools before t

[2018-09-17 02:16] Pathoschild commented on #108
@MarcoAurelioWM The tools are now running PHP 7, which should prevent the error you reported from happening in the future. Let me know if you notice any further issues. Thanks again for reporting it!

[2018-09-17 02:16] #108 closed

[2018-10-27 20:42] hartman opened #113 "Move back out of tools.wmflabs.org"
Due to the enablement of CSP, and the stricter code loading policies that in the future will start being implemented, I suggest moving this code back into meta.wikimedia.org, as tools.wmflabs.org is not a trusted domain within the WM ecosystem.
See also https://en.wikipedia.org/wiki/Wikipedia:Village_pump_(technical)#Huge_Script_errors_in_console_log

[2018-10-27 21:32] Pathoschild commented on #113
That's a pretty significant change. While it's trivial to copy the scripts to Meta (presumably in the MediaWiki namespace), there are countless references to the scripts across all wikis that would need to be updated.

[2018-11-01 08:29] hartman commented on #113
Yeah, let's also be a bit careful here in terms of effort. There are some ideas of alternative solution strategies. Might be best to privately communicate with Bawolff .

[2018-11-11 16:22] rxywm opened #114 "[AccountEligibility] Add support for candidates/voters on the 2019 Steward Elections"
Same as past year too :)

[2018-11-11 17:29] Pathoschild commented on #114
Added via #115 and deployed. Thanks!

[2018-11-11 17:29] #114 closed

[2018-11-11 17:30] rxywm commented on #114
Thanks :)

[2018-11-28 12:05] MarcoAurelioWM opened #116 "[MagicRedirect] shnwiki not recognized"
While trying to handle [this request](https://meta.wikimedia.org/w/index.php?oldid=18662545#Ninjastrikers@shnwiki) the magic redirect tool does not seem to recognize the shnwiki database:

* Request URL: https://tools.wmflabs.org/meta/magicredirect/?url=//meta.wikimedia.org/wiki/Special:UserRights/Ninjastrikers@{wiki.name}?user-reason=%5B%5BSpecial:Permalink/18662545%5D%5D&wiki=shn.wikipedia&redir

[2018-11-28 15:38] Pathoschild commented on #116
That wiki isn't in the Toolforge database yet:
[code]
Based on [this comment](https://phabricator.wikimedia.org/T206777#4781677), that's expected since the wiki creation is still in progress. Once it's added, the tools' cache will update automatically within a day (and I can refresh it manually sooner).

[2018-11-29 12:53] MarcoAurelioWM commented on #116
Looks like it's already there per
https://phabricator.wikimedia.org/T206916#4781989 ?

[2018-11-29 15:50] Pathoschild commented on #116
It doesn't seem to be there yet:
[code]

[2018-11-29 16:39] MarcoAurelioWM commented on #116
I could `sql shnwiki` myself on Labs but running the query above indeed
does not return any results, as if the wiki were not known to the
meta_p.wiki table. Weird. I've left a note in the Task.

[2018-11-29 16:48] Pathoschild commented on #116
It was added a few minutes ago and I cleared the cache, so the link should work now. Thanks for reporting it!

[2018-11-29 16:48] #116 closed

[2018-12-22 12:49] MarcoAurelioWM opened #117 "[globalgroups] Add missing extension-OATHAuth privs"
Taking care of this one.

[2018-12-22 19:04] #117 closed

[2018-12-22 19:09] Pathoschild commented on #117
Merged and pushed live via #118. Thanks!

[2019-01-06 21:45] MarcoAurelioWM commented on #113
I agree this is a very important decision to make. I feel this script suite is better maintained here, but maybe to bypass CSP we could get Phabricator Diffusion (phabricator.wikimedia.org) to keep a clone of this repo and have `mw.loader.load`ed from there? If we want to explore that path, I can create repositories on Phabricator and try to test that.

[2019-01-06 23:13] Pathoschild commented on #113
@MarcoAurelioWM  That might be a good middle approach. That lets us keep deploying updates through Git, but WMF has the ability to freeze or remove the mirror if needed. Would Diffusion mirror the upstream repo automatically, or would someone need to do it manually each time?

[2019-01-07 00:07] MarcoAurelioWM commented on #113
@Pathoschild Indeed you can keep the tool development here in GitHub and just ask Phabricator Diffusion to watch this GitHub repo for updates. In that case Phabricator Diffusion will simply watch from time to time, automatically, if there have been any updates upstream (this GitHub repository) and if there's any, Phabricator will import them.

For example, I keep the configuration files of my bot

[2019-01-07 00:30] MarcoAurelioWM commented on #113
One problem so far, however, is that I'm not sure if Phabricator "raw" files can be used. Last time I tried to use a "raw" file the link expired after some time, rendering the link useless. If that is still happening then there's no point in trying to mirror this code there. I'll ask around.

[2019-01-07 00:37] MarcoAurelioWM commented on #113
As far as I could see the problem still exists. File links are all temporary thus cannot be used as a solution for this I'm afraid 😿

[2019-01-07 12:07] MarcoAurelioWM commented on #113
Yes. I agree, but it seems that the static resources served via
phab.wmfusercontent.org do all expire after some time. Plus it is also very
possible that wmfusercontent is also CSP-blocked so we wouldn't achieve the
CSP bypassing.

[2019-01-28 18:39] MarcoAurelioWM opened #121 "Tools not loading"
Hello. Since several hours I am unable to access any of your tools. The page loads endesly but never returns anything. Is there anything that can be done to bring the tools back up? Thank you.

[2019-01-28 21:44] Pathoschild commented on #121
Are they still not loading for you? I just checked a few sample tools and they're working fine for me.

[2019-01-28 21:56] MarcoAurelioWM commented on #121
Hello. They ain't loading for me yet. I'll try to change networks and see
if it is a problem on my end or if there's a Toolforge problem for my
region.

[2019-01-28 22:02] MarcoAurelioWM commented on #121
I've tested again. The page keeps loading and loading but nothing happens afterwards. Sorry :-(

[2019-01-28 23:10] Pathoschild commented on #121
Can you link to a sample URL that never finishes loading?

[2019-01-28 23:38] gtirloni commented on #121
I've tried the following URLs and they work for me:

* https://tools.wmflabs.org/meta/accounteligibility/
* https://tools.wmflabs.org/meta

So it was either fixed, temporary or something on @MarcoAurelioWM end.

@MarcoAurelioWM are you still seeing this issue?

[2019-01-28 23:50] MarcoAurelioWM commented on #121
They all now load instantly for me. Not sure what it was.

[2019-01-28 23:50] #121 closed

[2019-01-28 23:51] gtirloni commented on #121
Distributed systems :)

Toolforge is a shared platform and we are always available to look into things if they're not working. Thanks for reporting it.

[2019-03-06 15:23] Jeff-Gdot opened #122 "[stalktoy] Fatal error: unknown column 'ipb_reason'"
While browsing https://tools.wmflabs.org/meta/stalktoy/113.210.97.113

Could not perform query:
SQL: [286] SELECT ipb_by_text, ipb_address, ipb_reason, DATE_FORMAT(ipb_timestamp, "%Y-%b-%d") AS timestamp, DATE_FORMAT(ipb_expiry, "%Y-%b-%d") AS expiry, ipb_anon_only FROM ipblocks WHERE (ipb_range_start <= ? AND ipb_range_end >= ?) OR (ipb_range_start >= ? AND ipb_range_end <= ?) /*d25eca61*/ Sent S

[2019-03-07 03:01] Pathoschild commented on #122
Fixed and deployed. Apparently some columns are being removed as part of [T166732](https://phabricator.wikimedia.org/T166732). The `globalblocks.gb_reason_id` column doesn't exist yet, but I updated the code for the others. Let me know if you notice any issues!

[2019-03-09 02:40] Pathoschild commented on #122
I reverted the update, since referencing the `comment` table caused slowdowns and high CPU usage (possibly an issue with the Toolforge view?). The error should still be gone, since they undid the migration on eswiki.

We have [until March 19th](https://lists.wikimedia.org/pipermail/cloud/2019-March/000569.html) to update.

[2019-03-15 14:51] mik2 opened #123 "[stalktoy] Oldest account does not include the one created before 2005."
The field "Oldest account on" shows the oldest created after 2005. At least for me: https://tools.wmflabs.org/meta/stalktoy/mik

[2019-03-22 04:14] Pathoschild commented on #122
I disabled the fields removed in the comment refactor. If no performance issues come up, I'll migrate AccountEligibility first (since the fields are required for it to work correctly in some case) and watch for performance issues, then do Stalktoy next (since the fields are just shown in the UI for that one).

[2019-04-08 21:49] RhinosF1 opened #124 "[stewardry] enwiki queries don't work"
The sysop query fails as 'ysop statistics are disabled for en.wikipedia.org because the result set is too large to process.' and CU fails as 'Fatal error: Uncaught Error: Unsupported operand types in /data/project/meta/git/wikimedia-contrib/tool-labs/stewardry/index.php:65 Stack trace: #0 {main} thrown in /data/project/meta/git/wikimedia-contrib/tool-labs/stewardry/index.php on line 65'

Not tried

[2019-04-09 23:48] Pathoschild commented on #124
Unfortunately the tool doesn't work for sysops on enwiki, due to the sheer amount of date it would need to sift through. I fixed the error when checking another group though.

[2019-04-09 23:48] #124 closed

[2019-04-10 10:18] RhinosF1 commented on #124
Was there another tool that found enwiki admins? Could you advise of its name?

[2019-04-10 21:30] Pathoschild commented on #124
Not that I know of. Stewardry is meant to check if a wiki has active sysops/etc, which isn't an issue on enwiki. For one-time or occasional results, you could run a custom query through [Quarry](https://quarry.wmflabs.org/) though.

[2019-04-10 21:35] RhinosF1 commented on #124
Thanks anyway, i'll have a think

[2019-06-03 02:49] Pathoschild commented on #122
All tools are now migrated.

[2019-06-03 02:49] #122 closed

[2019-06-03 03:02] Pathoschild opened #125 "Migrate to new actor table"
Update all tools for [the new actor table](https://lists.wikimedia.org/pipermail/cloud-announce/2019-May/000170.html).

[2019-06-04 01:24] Pathoschild commented on #125
All tools updated.

[2019-06-04 01:24] #125 closed

[2019-06-04 14:52] Incnis-Mrsi opened #126 "[stalktoy] throws an error on all IPs"
Any /meta/stalktoy/ query on an IPv4 or v6 alike fails; queries on accounts are not affected.
Apparently because an internal SQL query terminates with:
Column not found: 1054 Unknown column 'ipb_by_text' in 'field list'

The ultimate result is:
**Fatal error**: Uncaught Error: Call to a member function fetchAllAssoc() on boolean in /data/project/meta/git/wikimedia-contrib/tool-labs/stalktoy/framew

[2019-06-04 15:12] Incnis-Mrsi commented on #126
Related: https://phabricator.wikimedia.org/T188327

[2019-06-04 15:15] Pathoschild commented on #126
Fixed and deployed. Thanks for reporting it!

[2019-06-04 15:15] #126 closed

[2019-06-11 13:47] revi opened #127 "[Stewardry] Does not load"
[code]

[Stewardry/hywiki](https://tools.wmflabs.org/meta/stewardry/hywiki) is not loading at all. If it was just me it was my network borking but 4 connections simultaneously failing to load mean it is dead.

/CC @MarcoAurelioWM

[2019-06-11 16:47] Pathoschild commented on #127
Fixed by restarting the web service. It may have been related to the recent Toolforge issues (e.g. [T222978](https://phabricator.wikimedia.org/T222978), [T225391](https://phabricator.wikimedia.org/T225391), and [performance issues related to the comment/actor changes](https://lists.wikimedia.org/pipermail/cloud/2019-June/000716.html)). Thanks for reporting it!

[2019-06-11 16:47] #127 closed

[2019-06-23 15:38] MarcoAurelioWM opened #128 "2019-06-23 Toolforge tools not loading"
Good day. Would it be possible to take a look at the `meta` Toolforge project? https://tools.wmflabs.org/meta and specific tools just endlesly loads but no content is actually delivered. I wonder if a webservice restart or other action is required to put the tools back up. Thanks for your help. Best regards & have a nice day.

[2019-06-23 23:14] Pathoschild commented on #128
Done! That seems to have fixed it; not sure what the issue was.

Let me know if you want me to give you (or others trusted in the community) access to the toolforge project, so it's more likely someone will be online to handle issues like this quickly.

[2019-06-23 23:14] #128 closed

[2019-06-24 12:47] MarcoAurelioWM commented on #128
Thank you!

Feel free to add me if you want. My shell name on Toolforge is `maurelio`. Issues requiring more than a simple `webservice [...] restart` command will still need your attention though 😸.

[2019-06-24 13:09] MarcoAurelioWM commented on #128
Reopening because at the time I'm writting this the issue previously reported is happening again.

[2019-06-24 17:16] Pathoschild commented on #128
I see a number of "MySQL server went away" errors in the log; not sure if that's related to the issue. I restarted the service for now and added you to the maintainers.

The current maintainers are Billinghurst, Matanya, and us; let me know if you want to suggest anyone else!

[2019-07-04 11:00] MarcoAurelioWM opened #129 "[stewardscript] Add 'Special:GlobalUserRights' link on CentralAuth"
Convenient for steward work. PR incoming (if I remember how this is done on GitHub).

[2019-07-04 17:19] Pathoschild commented on #129
@MarcoAurelioWM Thanks for the pull request! I merged and deployed the changes, but I don't use the script myself to test it. Can you check that the changes are working fine for you?

[2019-07-04 18:19] MarcoAurelioWM commented on #129
@Pathoschild Thanks for merging. Like I said on #130 I'm just checking Special:CentralAuth and I don't see the link. However the updated code is not yet at https://tools-static.wmflabs.org/meta/scripts/pathoschild.stewardscript.js so I guess it is just a matter of time?

[2019-07-04 18:28] Pathoschild commented on #129
I do see the changes there; try [bypassing your cache](https://en.wikipedia.org/wiki/Wikipedia:Bypass_your_cache) to get the updated code.

[2019-07-04 18:46] MarcoAurelioWM commented on #129
Yup, it's updated now. I refreshed the caché earlier to no avail so I suspect it simply took more than expected. I think this can be closed now. Thanks!

[2019-07-04 18:48] Pathoschild commented on #129
Thanks for the PR and for testing!

[2019-07-04 18:48] #129 closed

[2019-07-15 22:01] MarcoAurelioWM opened #131 "Iso639dbEngine.php causing PHP errors"
I'm seeing continuous entries on `error.log` of the type:

[code]
It seems to come from: https://github.com/Pathoschild/Wikimedia-contrib/blob/588f81d71d950d317812aed6b436a39e98bdc1d2/tool-labs/iso639db/framework/Iso639dbEngine.php#L138

Regards.

[2019-07-16 16:54] Pathoschild commented on #131
That tool didn't survive the transition to Toolforge, but I added a fix so it'll stop logging the warnings. Let me know if you notice any other issues!

[2019-07-16 16:54] #131 closed

[2019-07-20 10:00] MarcoAurelioWM commented on #131
Thanks @Pathoschild - I wasn't aware the tool didn't migrated successfully. Sorry.

[2019-08-14 07:32] Xi-Plus opened #132 "[stalktoy] Javascript injection is possible"
See https://tools.wmflabs.org/meta/stalktoy/47.75.138.45 blocked column for zh.wikipedia.org. The original reason is `{{blocked proxy}}`, But html comment is not displayed. It is considered an HTML element. So I think script tag is the same.

[2019-08-15 05:48] Pathoschild commented on #132
Thanks! This only affects values set by administrators, but I normalised those just in case.

[2019-08-15 05:48] #132 closed

[2019-08-26 21:04] MarcoAurelioWM opened #133 "Database not detected: nap.wikisource"
nap.wikisource isn't detected by tools.meta. The database is already in Toolforge replicas and in the meta_p database. I've attempted to restart the webservice of the tools to see if that fixed the issue to no avail. I guess it's maybe a caching issue? If so, what to do to fix it in case of future wiki creations? Thanks.

P.S.: Please review if the type of webservice that it's now running (php7.2,

[2019-09-26 09:02] waddie96 opened #134 "pathoschild.templatescript.js violates Chrome's Content Security Policy directive"
`Refused to load the script 'https://tools-static.wmflabs.org/meta/scripts/pathoschild.templatescript.js' because it violates the following Content Security Policy directive: "script-src 'unsafe-eval' 'self' meta.wikimedia.org *.wikimedia.org *.wikipedia.org *.wikinews.org *.wiktionary.org *.wikibooks.org *.wikiversity.org *.wikisource.org wikisource.org *.wikiquote.org *.wikidata.org *.wikivoyage

[2019-09-27 05:15] Pathoschild commented on #134
See #113 for discussion.

[2019-09-27 05:15] #134 closed

[2019-09-27 05:23] Pathoschild commented on #113
@MarcoAurelioWM Have you heard anything back from the tech team on the above question? (Also, wouldn't it make sense to just allow `*.wmflabs.com` in the policy, since it's a Wikimedia domain too?)

[2019-09-28 19:09] MarcoAurelioWM commented on #113
Hello. I've not heard anything, nope. I can try to ask again if that helps.

[2019-11-17 20:35] MarcoAurelioWM opened #135 "Setup AccountElegibility event for 2020 Stewards' elections"
Requirements will be like the past year, except with the year dates. As such:

- have an account (unregistered contributors are not eligible to vote);
- not primarily use the account for automated (bot) tasks;
- have made at least 600 edits globally (on all Wikimedia wikis) before 01 November 2019;
- have made at least 50 edits globally (on all Wikimedia wikis) between 01 August 2019 and 31 Januar

[2019-11-17 20:36] MarcoAurelioWM commented on #135
cc. @rxywm

[2019-11-18 01:44] Pathoschild commented on #135
@MarcoAurelioWM Done! The event IDs are 51 (candidates) and 52 (voters).

I assumed...
* the candidate requirements are the same too (e.g. a sysop duration cutoff of 08 February 2020 at 14:00 UTC);
* the Meta page will be [Stewards/Elections 2020](https://meta.wikimedia.org/wiki/Stewards/Elections_2020).

See [the commit](https://github.com/Pathoschild/Wikimedia-contrib/commit/8641fa0fb1708af5374b

[2019-11-20 15:10] MarcoAurelioWM commented on #135
Thank you! We're still drafting the calendar. So far it does not look like
we will changing the dates but please allow me a week or two to close this
with my fellow stewards. Best regards.

[2019-12-21 12:20] MarcoAurelioWM commented on #135
Sorry that it took so long to reply back. Dates as posted originally might
need to be changed. It looks we've agreed the definitive ones at
https://meta.wikimedia.org/wiki/Stewards/Elections_2020. Can the tool be
updated to reflect the new dates, please? Thanks!

[2019-12-21 15:50] Pathoschild commented on #135
@MarcoAurelioWM The page seems to have the same dates I used. Here are the current rules if you want to change any specific ones.

* Voters:
   * no bot flag on any wiki;
   * 600 edits across all wikis before 01 November 2019 at 00:00 UTC;
   * 50 edits across all wikis between 01 August 2019 at 00:00 UTC and 31 January 2020 at 23:59:59 UTC.
* Candidates:
  * same rules as voters;
  * sysop for a

[2019-12-29 20:22] MarcoAurelioWM commented on #135
Looks good to me. Thanks!

[2019-12-29 20:22] #135 closed

[2020-05-17 18:32] MarcoAurelioWM opened #137 "Upgrading URLs due to the introduction of the `toolforge.org` domain"
Due to the introduction of the `toolforge.org` domain (_See_ [News/Toolforge.org](https://wikitech.wikimedia.org/wiki/News/Toolforge.org), [[Cloud] Toolforge: new domain toolforge.org](https://lists.wikimedia.org/pipermail/cloud/2020-May/001079.html) and [Task T234617](https://phabricator.wikimedia.org/T234617), the following code is returning a `404` when used in `Special:CheckUser`:

https://git

[2020-05-17 18:48] MarcoAurelioWM opened #139 "Update tools for new `toolforge.org` domain"
Due to the introduction of the `toolforge.org` domain (_See_ [News/Toolforge.org](https://wikitech.wikimedia.org/wiki/News/Toolforge.org), [[Cloud] Toolforge: new domain toolforge.org](https://lists.wikimedia.org/pipermail/cloud/2020-May/001079.html) and [Task T234617](https://phabricator.wikimedia.org/T234617) we should make sure all tools are ready to work with the new `$tool.toolforge.org` doma

[2020-05-17 19:16] #105 closed

[2020-05-17 19:23] Pathoschild commented on #137
Thanks for the PR! The redirect from `pathoschild-contrib` is part of my test changes to support the new subdomains. Nothing should be linking to that account, since it's meant for testing and internal tools. Since the link is fixed, I'll close this in favor of #139.

[2020-05-17 19:23] #137 closed

[2020-05-26 16:58] Pathoschild commented on #139
See [related Phabricator ticket](https://phabricator.wikimedia.org/T247432) re interwiki links.

[2020-06-07 02:08] Pathoschild commented on #139
The `meta` project is now migrated and using `--canonical`.

Migrating `crossactivity` will take a bit more work due to what seems to be a Toolforge bug: if you have a folder under `public_html` that matches the account name, Toolforge requires it to appear twice in the path even when using the new domain (i.e. `X.toolforge.org/X/X` instead of the expected `X.toolforge.org/X`). I'm reworking how t

[2020-06-07 03:36] Pathoschild commented on #139
All tools are migrated and using `--canonical`.

Crossactivity is now at [meta2.toolforge.org](https://meta2.toolforge.org), with an identical URL structure to the main [meta.toolforge.org](https://meta.toolforge.org). They redirect as needed, so it's safe to access any tool through either host and all previous URLs should still work.

Let me know if you notice any issues!

[2020-06-07 03:44] szc126 commented on #139
Within the last hour or so, I noticed that `https://tools-static.wmflabs.org/meta/scripts/pathoschild.templatescript.js` returns "404 Not Found" not found now. Does this happen for you as well?

[2020-06-07 04:25] Pathoschild commented on #139
@szc126 Yep, that should be fixed now. Thanks for reporting it!

[2020-06-07 19:11] #139 closed

[2020-07-05 14:55] he7d3r opened #142 "[TemplateScript] RegexEditor should allow users to use .replaceSelection instead of .set"
For TemplateScript, there is the option to set `position` to `cursor`. I would like to use such an option for the RegexEditor too, allowing replacements to be made only in the selected text.

[2021-01-09 13:19] MarcoAurelioWM opened #145 "Revert #130; now in the CentralAuth extension itself"
Revert #130 due to https://github.com/wikimedia/mediawiki-extensions-CentralAuth/commit/af6016dbf31d0105ca6ccad8c80ffd1795770a1c

Patch incoming soon.

[2021-01-09 22:18] #145 closed

[2021-01-09 22:19] Pathoschild commented on #145
Merged and deployed. Thanks!

[2021-05-15 11:25] MarcoAurelioWM opened #148 "Stalktoy unable to query data"
Hello:

https://meta.toolforge.org/stalktoy is not working today. I'm attaching two screenshots of the two errors displayed.

Note: the IPs displayed are intentionally fake for privacy purposes. Errors were spotted with real ones.

![stalktoy_bug_20210515_1](https://user-images.githubusercontent.com/30000615/118358551-94fcc680-b57f-11eb-82a0-0d63775b5a51.png)
![stalktoy_bug_20210515_2](https://use

[2021-05-15 15:53] Pathoschild commented on #148
Related links:
* [Wiki Replicas 2020 Redesign](https://wikitech.wikimedia.org/wiki/News/Wiki_Replicas_2020_Redesign)
* [Phabricator issue T282895: _https://meta.toolforge.org/stewardry/srwiki?bureaucrat=1 raises exception: SQLSTATE[HY000] [1049] Unknown database 'srwiki_p'_](https://phabricator.wikimedia.org/T282895)

[2021-05-15 15:58] Pathoschild commented on #148
Fixed via 2284afdf5e3c91b67f7def7a57166a9514dbb2a5 and deployed. Thanks for reporting it!

[2021-05-15 15:58] #148 closed

[2021-05-16 14:31] MarcoAurelioWM commented on #148
Thanks for the quick fix. It works again 😃

[2021-05-18 09:59] ZabeMath opened #149 "[crossactivity] Unable to reach database"
Crossactivity doesn't work, it shows this:
[code]
Looks like #148, could it be that the fix hasn't been deployed to meta2?

[2021-05-18 23:54] Pathoschild commented on #149
Yep. I just deployed the update to meta2 too; thanks for reporting it!

[2021-05-18 23:54] #149 closed

[2021-05-19 09:54] inductiveload opened #150 "JQMIGRATE warnings for $.isArray and $.isFunction"
On enwikisource, I'm seeing JQMIGRATE console warnings due to

https://github.com/Pathoschild/Wikimedia-contrib/blob/2284afdf5e3c91b67f7def7a57166a9514dbb2a5/user-scripts/pathoschild.templatescript.js#L964

(though that is not the only use of `$.isArray`)

[code]

I _think_ it's a simple change to `Array.isArray( opts )` (and similar for the others).

Similarly: `JQMIGRATE: jQuery.isFunction is de

[2021-05-20 03:32] Pathoschild commented on #150
Fixed; thanks for reporting it! (It may take a few hours for the server cache to update, in addition to your browser's cache time.)

[2021-07-05 13:59] lilients opened #152 "Make user field multiple in AccountEligibility"
We would like to check a list of users for a specific event in AccountEligibility. The easiest way to do this would be, if we could make the input field for the user name a textfield where we can enter a list of usernames. Would that be something useful for the tool in general?

[2021-07-05 16:17] Pathoschild commented on #152
Yep, that'd be useful for a lot of events. To avoid confusion, I think the default UI should still be one name like before; we could maybe have a one-line textarea that expands if you hit enter or paste multiple lines, or add a link to enable multi-user input?

[2021-07-06 09:32] lilients commented on #152
Yes, maybe a separate view for multiple user check would be useful. I guess the result presentation would also look a little bit different. I will play around with this a bit and see what works. :)

[2021-07-08 09:11] lilients commented on #152
@Pathoschild can you add me to the project at toolforge, please? :sun_with_face:

[2021-07-11 23:14] Pathoschild commented on #152
@lilients Are you interested in becoming a permanent maintainer for Accounteligibility? If you just want to set up a test environment, there are [instructions in the readme](https://github.com/Pathoschild/Wikimedia-contrib#for-maintainers) to set it up with any Toolforge account.

[2021-07-14 11:58] lilients commented on #152
@Pathoschild Ah, thanks for the hint. I did indead misread the readme. :blush:  In that case I do not need a maintainer access. :sweat_smile:

[2021-08-08 20:49] he7d3r commented on #150
@Pathoschild Should this issue be closed?

[2021-08-17 02:47] Pathoschild commented on #150
Yep, I haven't seen any more reports about it.

[2021-08-17 02:47] #150 closed

[2021-12-31 14:52] MarcoAurelioWM opened #157 "[Account Elegibility] Steward elections 2022"
Elegibility criteria for **candidates**
- be eligible to vote as outlined below;
- hold or have held administrator rights on at least one public Wikimedia Foundation project for a period of at least three months

Elegibility criteria for **voters** (same as last year, but different dates)

- have an account;
- not primarily use the account for automated (bot) tasks;
- have made at least 600 edits

[2022-01-04 00:16] #157 closed

[2022-01-04 00:25] Pathoschild commented on #157
Merged and deployed via #158. Thanks for the PR!

[2022-02-04 04:25] Xeno-WMF opened #161 "[AccountEligibility] Request addition of UCOC EG voter eligibility"
https://meta.wikimedia.org/wiki/Universal_Code_of_Conduct/Enforcement_guidelines/Voter_information#Voting_eligibility

Eligibility criteria -
    not be blocked in more than one project;
    and not be a bot;
    and have made at least 300 edits before 7 February 2022 across Wikimedia wikis;
    and have made at least 20 edits between 7 August 2021 and 7 February 2022.

( This is the same as https

[2022-02-04 05:16] Pathoschild commented on #161
Done! See [event 62](https://meta.toolforge.org/accounteligibility/62), and let me know if you notice any issues or want to change anything.

[2022-02-04 05:16] #161 closed

[2022-03-20 17:05] libkoi opened #163 "[AccountEligibility] Locked account should not be eligible"
One user from my community throwed this point. Although there is little point in adding this conditional judgement, there is no harm in adding it.

[2022-03-21 04:54] Pathoschild commented on #163
Hi! AccountEligibility only checks the specific rules for each election, it doesn't add any extra conditions like that. It could show a banner if the user is locked though, so the lock is apparent even if it doesn't change the result.

[2022-03-23 18:14] libkoi commented on #163
A banner is ok. Is it possible to be placed at this position?
![image](https://user-images.githubusercontent.com/18418456/159768031-8b41d600-ba2d-47e3-b18d-ea782b0c58a4.png)

[2022-03-29 19:26] Dusan-Krehel opened #164 "Tool "Stalk toy" doesn't work correct."
**What is bad?**

- If i open the someone user of Stalk toy (https://meta.toolforge.org/stalktoy/), i don't see right result.

**How is right?**

- Fixed or change SQL query.

**See also**
* https://phabricator.wikimedia.org/T304986

[2022-03-31 02:31] Pathoschild commented on #164
Hi! That's not a bug with Stalktoy, it's an issue with the Toolforge infrastructure. You can watch [T304733](https://phabricator.wikimedia.org/T304733) for updates on that. Once that ticket is fixed, Stalktoy should work fine again.

[2022-03-31 02:31] #164 closed

[2022-04-10 16:50] Pathoschild commented on #113
This was brought up again in Phabricator tickets [T304151](https://phabricator.wikimedia.org/T304151) and [T304208](https://phabricator.wikimedia.org/T304208). Seems moving the scripts to wiki pages is still the only solution, so I started [a discussion on Meta](https://meta.wikimedia.org/wiki/Tech#Preferred_location_for_crosswiki_site_scripts%3F) about the best place to put them.

[2022-04-10 20:32] 20after4 commented on #113
The wmfusercontent domain is intentionally separate from phabricator.wikimedia.org and allowing it in the csp would defeat the purpose of having a separate domain.  The reason for it to exist is to avoid XSS exposure due to allowing users uploading malicious code to Phabricator.

[2022-04-17 16:08] Pathoschild commented on #164
This still isn't fixed, so I added a banner on the Stalktoy page for now.

[2022-05-15 07:09] supertassu opened #165 "stalktoy: Wikitech (labswiki) is not a SUL wiki"
See for example [stalktoy for my account](https://meta.toolforge.org/stalktoy/?target=Majavah&show_all_wikis=on). Wikitech is not a SUL wiki, so stalktoy should not tell me to attach that account.
![image](https://user-images.githubusercontent.com/9721638/168461458-4545e3d0-760c-4b96-8b43-4c43b37cd5e4.png)

[2022-07-04 09:50] Ammarpad opened #168 "[AccountEligibility] Add BoT 2022 elections"
Elegibility criteria for voters: https://meta.wikimedia.org/wiki/Wikimedia_Foundation_elections/2022/Voter_eligibility_guidelines

[2022-07-05 00:15] #168 closed

[2022-07-05 00:27] Pathoschild commented on #168
Fixed via #169 and deployed live. Thanks for the help!

[2022-07-15 03:23] plstand opened #170 "[AccountEligibility] BoT 2022 "edits between" end date is wrong"
Per foks's comment at https://gerrit.wikimedia.org/r/c/mediawiki/extensions/SecurePoll/+/813346/1/cli/wm-scripts/bv2022/populateEditCount.php#24:

[2022-07-16 15:00] #170 closed

[2022-07-16 15:02] Pathoschild commented on #170
Merged and deployed via #171. Thanks for the help!

[2022-08-10 20:20] bd808 commented on #165
After https://www.mediawiki.org/wiki/SUL_finalisation was done I wonder if there is any real value in that prompt at all? It should no longer be possible to have a local account on any actual SUL wiki that is not also a global account.

[2022-08-14 16:16] Pathoschild commented on #165
Fixed! The list of non-unifiable wikis was out of date.

I don't think unifiable local accounts are possible anymore, but the message is still useful to double-check if the edge case ever comes up.

[2022-08-14 16:16] #165 closed

[2022-08-25 03:39] legoktm commented on #40
I too would like an API for AccountEligibility.